<main class="w-[382px] h-[586px] rounded-xl weather-card px-4 pt-6 text-white">
    <!-- <nav class="flex flex-row justify-between items-center h-[60px]"> -->
        <form class="flex flex-row justify-between items-center h-[60px] rounded-3xl search-bar" [ngStyle]="{'background-color': buttonState ? '#ffffff' : 'transparent'}" (submit)="toggleSearchState()">
        <section class="flex flex-col align-start">
            <ng-container *ngIf="!$any(weatherdata).has_error && !buttonState; else searchbox" >
                <h1 class="text-3xl">{{ $any(weatherdata).city }}</h1>
                <h3 class="text-base">
                    {{ $any(weatherdata).region }}, {{ $any(weatherdata).country }}
                </h3>
            </ng-container>
            <ng-template #searchbox>
                <input class="w-full h-full text-black px-4 py-3 border-0 ml-2 text-lg" type="text" name="search-input" [(ngModel)]="searchValue">
            </ng-template>
        </section>
        <div class="bg-white rounded-3xl w-12 h-12 flex flex-row justify-center items-center">
            <button type="submit">
                <img src="assets/Search_4.svg" alt="search_icon" class="w-10 h-10" />
            </button>
        </div>
    </form>
    <!-- </nav> -->
    <ng-container *ngIf="$any(weatherdata).has_error">{{ $any(weatherdata).error.message }}
    </ng-container>
    <ng-container *ngIf="!$any(weatherdata).has_error">
        <div class="flex flex-row justify-start items-center mt-12 px-3">
            <section class="flex flex-col align-start">
                <h1 class="text-4xl">{{ $any(weatherdata).temperature }}&deg;C</h1>
                <h3 class="text-base">{{ $any(weatherdata).condition }}</h3>
            </section>
            <section class="h-20 ml-2">
                <ul class="grid grid-row">
                    <!-- <li *ngFor="let ic of $any(weatherdata).icon">
                        <img *ngFor [src]="ic" alt="$any(weatherdata).condition" class="object-contain w-20 h-20" />
                    </li> -->
                    <ng-template ngFor let-item [ngForOf]="$any(weatherdata).icon">
                        <li>
                            <img [src]="item" [alt]="$any(weatherdata).condition" class="object-contain w-20 h-20" />
                            <!-- <span>{{item}}</span> -->
                        </li>
                    </ng-template>
                </ul>
            </section>
        </div>
        <div class="grid grid-cols-2 grid-rows-3 gap-3 gap-x-10 mt-3 px-6">
            <div class="flex flex-col justify-center align-center">
                <h3 class="text-base capitalize">wind speed</h3>
                <h2 class="text-2xl">{{ $any(weatherdata).wind_speed }} km/h</h2>
                <!-- hells -->
            </div>
            <div class="flex flex-col">
                <h3 class="text-base capitalize">humidity</h3>
                <h2 class="text-2xl">{{ $any(weatherdata).humidity }} %</h2>
            </div>
            <div class="flex flex-col">
                <h3 class="text-base capitalize">precipitation</h3>
                <h2 class="text-2xl">{{ $any(weatherdata).precipitation }} mm</h2>
            </div>
            <div class="flex flex-col">
                <h3 class="text-base capitalize">visibility</h3>
                <h2 class="text-2xl">{{ $any(weatherdata).precipitation }} km</h2>
            </div>
            <div class="flex flex-col">
                <h3 class="text-base capitalize">wind direction</h3>
                <h2 class="text-2xl">{{ $any(weatherdata).wind_direction }}</h2>
            </div>
            <div class="flex flex-col">
                <h3 class="text-base capitalize">cloud cover</h3>
                <h2 class="text-2xl">{{ $any(weatherdata).cloud_cover }} %</h2>
            </div>
        </div>
        <footer class="text-center mt-12">
            <img src="assets/Planet.svg" alt="planet" class="inline" />
            <span>Last observed at
        {{ $any(weatherdata).last_updated.hour }}:{{
          $any(weatherdata).last_updated.minute
        }}
        {{ $any(weatherdata).last_updated.prefix }}</span
      >
    </footer>
  </ng-container>
</main>